/* HELPER STYLES */

/* horizontally centering arbitrary components */
#outerDiv1 {
	text-align: center;
}
#outerDiv1 img, #outerDiv1 p, #outerDiv1 ol {
	display: inline-block;
	padding: 10px;
	margin: 10px;
	vertical-align: top;
}
ol li {
	text-align: left;
}

/* vertically centering arbitrary components */
.vertOuter1 {
	height: 300px;
}
.vertInner1 {
	line-height: 300px;
}
.vertOuter2 {
	height: 300px;
	display: table;
}
.vertInner2 {
	display: table-cell;
	vertical-align: middle;
}

/*horizontal list*/
ul.horizList {
	padding: 0px;
}
ul.horizList li {
	display: inline;
}

/* buttons */
.button {
	background-color: #E6848A;
	color: #fff;
	text-decoration: none;
	display: inline-block;
	border: 0px;
}
.largeBtn {
	padding: 20px 60px;
	font-size: 1.4em;
	font-weight: bold;
}
.medBtn {
	padding: 10px 40px;
}
.smlBtn {
	padding: 5px 10px;
	font-size: .8em;
}
.roundButtons {
	border-radius: 8px;
}

/* navigation */
.horizontalList li {
	display: inline-block;
	list-style: none;
	float: left;
}
.noPadding {
	padding: 0px;
}
.roundedNav {
	float: left;
	overflow: hidden;
	border-radius: 8px;
}
.button:hover {
	background-color: blue;
}

/* pagination */
.padding10 {
	padding: 10px;
	margin: 5px;
}
.textLink {
	text-decoration: none;
	color: #E6848A;
	font-weight: bold;
	display: block;
}
.pinkBorderBottom {
	border-bottom: 2px solid #E6848A;
}
.textLink:hover {
	color: silver;
}
.pinkBorderBottom:hover {
	border-bottom: 2px solid silver;
}